# Core functionality - changes here should be rare!
/src/app.py                   @kolappannathan
/src/backend/database.py      @kolappannathan
/src/backend/routers/auth.py  @kolappannathan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kolappannathan
